# Importing Necessary Libraries

In [24]:
import pandas as pd
from sklearn.svm import SVC



# Loading the Dataset using Pandas

In [17]:
df=pd.read_csv("dataset.csv")
df

    Pad 1  Pad 2  Pad 3  Previous Movement  Target
0       1      4      7                  1       1
1       2      6      8                  1       1
2       3      5      9                  1       1
3       1      4      7                  0       1
4       2      6      8                  0       1
..    ...    ...    ...                ...     ...
67      8      2      5                  1       0
68      9      3      6                  1       0
69      7      1      4                  0       0
70      8      2      5                  0       0
71      9      3      6                  0       0

[72 rows x 5 columns]

In [12]:
y=df.Target

In [13]:
y

0     1
1     1
2     1
3     1
4     1
     ..
67    0
68    0
69    0
70    0
71    0
Name: Target, Length: 72, dtype: int64

In [20]:
x=df[['Pad 1', 'Pad 2', 'Pad 3','Previous Movement']]
x

    Pad 1  Pad 2  Pad 3  Previous Movement
0       1      4      7                  1
1       2      6      8                  1
2       3      5      9                  1
3       1      4      7                  0
4       2      6      8                  0
..    ...    ...    ...                ...
67      8      2      5                  1
68      9      3      6                  1
69      7      1      4                  0
70      8      2      5                  0
71      9      3      6                  0

[72 rows x 4 columns]

In [25]:
model=SVC()

In [26]:
model.fit(x,y)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

# Predicting the hand movements

In [40]:
ans=model.predict([[1,4,7,1]])
ans=int(ans)
ans

1

In [41]:
if ans ==1:
    print("Hands Down ")
else:
    print("Hands UP")

Hands Down